Repository johannhartmann/legacy-use: changes, and which pre-commit hooks are due for each by the changed paths.
All: vulture, prettier, biome-lint

vulture:
  name: vulture
  entry: uv
  args:
  - run
  - vulture
  - --min-confidence=60
  language: system
  pass_filenames: true

prettier:
  name: prettier
  entry: bash -c 'cd app && npm run format'
  language: system
  pass_filenames: false

biome-lint:
  name: biome-lint
  entry: bash -c 'npm run lint:fix'
  language: system
  pass_filenames: false

Add OVMF firmware image configuration for macOS KubeVirt
  infra/helm/values.yaml
Due: none

Fix macOS KubeVirt configuration issues
  infra/helm/templates/macos-mojave-kubevirt-vmirs.yaml
Due: none

Remove Tilt dependencies between targets for parallel startup
  Tiltfile
Due: none

Enable macOS Mojave VM in Helm values
  infra/helm/values.yaml
Due: none

Update macOS container images to use internal registry
  infra/helm/templates/macos-mojave-kubevirt-vmirs.yaml
  infra/helm/values.yaml
Due: none

Switch to direct VNC connections and add VM container disk support
  build_docker.sh
  infra/docker/linux-machine/image/etc/supervisor/conf.d/supervisord.conf
  infra/helm/templates/android-target-deployment.yaml
  infra/helm/templates/database-configmap.yaml
  infra/helm/templates/database-deployment.yaml
  infra/helm/templates/legacy-use-mgmt-deployment.yaml
  infra/helm/templates/linux-target-deployment.yaml
  infra/helm/templates/windows-10-kubevirt-datavolume.yaml
  infra/helm/templates/windows-10-kubevirt-pvc-template.yaml
  infra/helm/templates/windows-xp-kubevirt-datavolume.yaml
  infra/helm/templates/windows-xp-kubevirt-pvc-template.yaml
  infra/helm/templates/wine-target-deployment.yaml
  infra/helm/values-tilt.yaml
  pyproject.toml
  scripts/check-kubevirt.sh
  scripts/kind-setup.sh
  scripts/kind-teardown.sh
  scripts/tilt-down.sh
  server/computer_use/sampling_loop.py
  server/computer_use/tools/computer.py
  server/computer_use/tools/vnc_client.py
  server/computer_use/utils.py
  server/utils/docker_manager.py
  test_api_status.py
  uv.lock
  vm-images/README.md
  vm-images/build-vm-images.sh
  vm-images/download-images.sh
  vm-images/macos-mojave/Dockerfile
  vm-images/windows-10/Dockerfile
  vm-images/windows-xp/Dockerfile
Due: vulture

Add macOS container disk build infrastructure
  vm-images/build-vm-images.sh
  vm-images/macos-mojave/Dockerfile.opencore
  vm-images/macos-mojave/Dockerfile.ovmf-code
  vm-images/macos-mojave/Dockerfile.ovmf-vars
  vm-images/macos-mojave/README.md
  vm-images/macos-mojave/build-macos-disks.sh
Due: none

Add HTTP basic authentication to frontend
  .gitignore
  infra/docker/legacy-use-nginx/Dockerfile
  infra/docker/legacy-use-nginx/docker-entrypoint.sh
  infra/docker/legacy-use-nginx/nginx.conf
  infra/helm/templates/nginx-auth-secret.yaml
  infra/helm/templates/nginx-deployment.yaml
  infra/helm/values.yaml
Due: none

Disable basic authentication for frontend
  infra/docker/legacy-use-nginx/nginx.conf
  infra/helm/values.yaml
Due: none

Implement flexible target connection types
  server/alembic.ini
  server/migrations/versions/01e7df5c3660_add_connection_type_to_targets_table.py
  server/models/base.py
  server/routes/sessions.py
Due: vulture

Add connection_type to SQLAlchemy Target model
  server/database/models.py
Due: vulture

Fix alembic migration path for container environment
  server/alembic.ini
Due: none

Fix database migration to handle existing columns
  server/migrations/versions/01e7df5c3660_add_connection_type_to_targets_table.py
Due: vulture

Fix virt-launcher-macos image build for KubeVirt VMs
  infra/docker/virt-launcher-macos/Dockerfile
  infra/docker/virt-launcher-macos/qemu-wrapper.sh
Due: none

Ensure virt-launcher-macos image is built by Tilt
  Tiltfile
Due: none

Enable all KubeVirt VMs by default
  infra/helm/values.yaml
Due: none

Fix DOM nesting validation error in JobsSection
  app/components/JobsSection.jsx
Due: prettier, biome-lint

Update Windows XP KubeVirt configuration to match QEMU parameters
  infra/helm/templates/windows-xp-kubevirt-vmirs.yaml
Due: none

Add Windows XP driver disk container image build support
  infra/helm/values.yaml
  vm-images/build-vm-images.sh
  vm-images/windows-xp-driver/Dockerfile
Due: none

Fix Windows XP driver disk Dockerfile for floppy image
  vm-images/windows-xp-driver/Dockerfile
Due: none

Path conditions:
  vulture: any of: \.py$, but not: ^(migrations|tests|venv|\.venv)/
  prettier: any of: ^app/.*\.(js|jsx)$
  biome-lint: any of: ^app/.*\.(js|jsx)$
