Repository johannhartmann/legacy-use: changes, and which pre-commit hooks are due for each by the changed paths.
All: vulture, prettier, biome-lint

vulture:
  name: vulture
  entry: uv
  args:
  - run
  - vulture
  - --min-confidence=60
  language: system
  pass_filenames: true

prettier:
  name: prettier
  entry: bash -c 'cd app && npm run format'
  language: system
  pass_filenames: false

biome-lint:
  name: biome-lint
  entry: bash -c 'npm run lint:fix'
  language: system
  pass_filenames: false

Remove dead code identified by vulture
  server/utils/prompt_loader.py
  server/utils/serialization.py
Due: vulture

Remove Docker Compose setup and scripts
  CLAUDE.md
  DOCKER_COMPOSE.md
  README.md
  Tiltfile
  docker-compose.yml
  docs/scaling-guide.md
  infra/docker/legacy-use-windows-target/README.md
  infra/docker/legacy-use-windows-target/docker-compose.yml
  infra/docker/legacy-use-windows-target/setup-windows-target.sh
  infra/docker/legacy-use-wine-target/README.md
  infra/docker/legacy-use-wine-target/docker-compose.yml
  infra/docker/legacy-use-wine-target/examples/README.md
  infra/helm/README.md
  infra/helm/legacy-use/WINDOWS_KUBEVIRT.md
  infra/helm/legacy-use/templates/windows-kubevirt-vm.yaml
  infra/helm/legacy-use/values-windows-kubevirt.yaml
  infra/helm/templates/windows-10-kubevirt-datavolume.yaml
  infra/helm/templates/windows-10-kubevirt-pvc-template.yaml
  infra/helm/templates/windows-10-kubevirt-service.yaml
  infra/helm/templates/windows-10-kubevirt-vmirs.yaml
  infra/helm/values-dev.yaml
  infra/helm/values-minimal.yaml
  infra/helm/values-production.yaml
  infra/helm/values-windows10-example.yaml
  infra/helm/values.yaml
  mcp-server/claude-desktop-config.md
  server/routes/sessions.py
  server/utils/docker_manager.py
  server/utils/docker_orchestrator.py
  start_docker_compose.sh
Due: vulture

Remove VNC password requirement from Wine container
  infra/docker/legacy-use-wine-target/Dockerfile
  server/migrations/versions/450b1b184d8a_add_sample_targets_data.py
Due: vulture

Update documentation to remove Wine VNC password references
  CLAUDE.md
  README.md
  docs/kind-tilt-development.md
  infra/docker/legacy-use-wine-target/README.md
  infra/docker/legacy-use-wine-target/examples/README.md
  infra/helm/WINE_QUICKSTART.md
Due: none

Add database migration for Windows 10 and macOS Mojave VM targets
  server/migrations/versions/20250724_201708_162786000c7b_add_windows_10_and_macos_mojave_vm_targets.py
Due: vulture

Add macOS Mojave KubeVirt VM template
  infra/helm/templates/macos-mojave-kubevirt-vmirs.yaml
Due: none

Fix Windows XP VM configuration for KubeVirt compatibility
  infra/helm/templates/windows-xp-kubevirt-vmirs.yaml
  infra/helm/values.yaml
Due: none

Update Windows 10 VM configuration with Hyper-V enlightenments
  infra/helm/templates/windows-10-kubevirt-vmirs.yaml
Due: none

Add Tilt tools for VM scaling and database migrations
  Tiltfile
Due: none

Fixed 401 response and tests
  Makefile
  server/server.py
  server/server_test.py
Due: vulture

fix import deprecation warning
  server/database/models.py
Due: vulture

feat: Improve API key management in frontend
  app/App.jsx
  app/contexts/ApiKeyContext.jsx
Due: prettier, biome-lint

fix: Update frontend to use relative URLs for unified port access
  app/components/ApiList.jsx
  app/components/VncViewer.jsx
  app/services/apiService.jsx
Due: prettier, biome-lint

fix: Add robust error handling for API responses
  app/components/Dashboard.jsx
  app/contexts/AiProviderContext.jsx
Due: prettier, biome-lint

feat: Add Nginx reverse proxy for unified port access
  Tiltfile
  infra/docker/legacy-use-nginx/Dockerfile
  infra/docker/legacy-use-nginx/nginx.conf
  infra/helm/templates/nginx-deployment.yaml
  infra/helm/templates/nginx-service.yaml
  infra/helm/values.yaml
Due: none

feat: Add init-status endpoint for frontend configuration
  server/server.py
  server/settings.py
Due: vulture

fix: Improve database secret handling in Helm charts
  infra/helm/templates/database-deployment.yaml
  infra/helm/templates/secret.yaml
Due: none

feat: Improve development scripts with better cleanup and VM support
  scripts/kind-setup.sh
  scripts/tilt-down.sh
  scripts/tilt-up.sh
Due: none

feat: Add VM image preloading script
  scripts/preload-vm-images.sh
Due: none

fix: Add Hyper-V enlightenments to Windows XP VM configuration
  infra/helm/templates/windows-xp-kubevirt-vmirs.yaml
Due: none

fix: Clean up Kind configuration
  kind-config.yaml
Due: none

Replace x11vnc with TightVNC in Wine and Linux containers
  infra/docker/legacy-use-wine-target/Dockerfile
  infra/docker/linux-machine/Dockerfile
  infra/docker/linux-machine/image/etc/supervisor/conf.d/supervisord.conf
  infra/docker/linux-machine/image/startup.sh
Due: none

Fix container pool to use Kubernetes service names instead of pod IPs
  Tiltfile
  infra/docker/legacy-use-wine-target/Dockerfile
  infra/helm/values.yaml
  server/routes/sessions.py
Due: vulture

Fix all uses of pod IPs to use Kubernetes service names
  infra/docker/legacy-use-wine-target/Dockerfile
  infra/docker/linux-machine/Dockerfile
  infra/docker/linux-machine/image/etc/supervisor/conf.d/supervisord.conf
  infra/docker/linux-machine/image/startup.sh
  server/computer_use/tools/computer.py
  server/routes/sessions.py
  server/routes/vnc.py
  server/utils/session_monitor.py
Due: vulture

Fix Wine Dockerfile to use external config files
  infra/docker/legacy-use-wine-target/Dockerfile
  infra/docker/legacy-use-wine-target/supervisord.conf
Due: none

Change screen resolution to max 1280x800 in all targets
  infra/docker/legacy-use-android-target/Dockerfile
  infra/docker/legacy-use-wine-target/startup.sh
  infra/docker/legacy-use-wine-target/supervisord.conf
  infra/docker/linux-machine/image/etc/supervisor/conf.d/supervisord.conf
  infra/helm/templates/windows-xp-kubevirt-vmirs.yaml
Due: none

Fix Kubernetes pod IP resolution to use service names
  server/utils/container_pool.py
Due: vulture

Replace x11vnc with TigerVNC to fix RFB handshake issues
  infra/docker/legacy-use-wine-target/Dockerfile
  infra/docker/legacy-use-wine-target/supervisord.conf
  infra/docker/linux-machine/Dockerfile
  infra/docker/linux-machine/image/etc/supervisor/conf.d/supervisord.conf
Due: none

Standardize DOSBox to use VNC port 5900
  Tiltfile
  infra/docker/legacy-use-dosbox-target/Dockerfile
  infra/docker/legacy-use-dosbox-target/entrypoint.sh
  infra/helm/templates/dosbox-target-deployment.yaml
  infra/helm/templates/dosbox-target-pvc.yaml
  infra/helm/templates/dosbox-target-service.yaml
  infra/helm/values.yaml
Due: none

Add Android AinD and DOSBox target types
  infra/docker/legacy-use-android-aind-target/Dockerfile
  infra/helm/templates/android-aind-target-deployment.yaml
  infra/helm/templates/android-aind-target-pvc.yaml
  infra/helm/templates/android-aind-target-service.yaml
  server/migrations/versions/20250727_125724_add_android_aind_target.py
  server/migrations/versions/20250727_130417_add_dosbox_target.py
Due: vulture

Add desktop shortcuts for Wine target applications
  infra/docker/legacy-use-wine-target/FileManager.desktop
  infra/docker/legacy-use-wine-target/Install_Lotus.desktop
  infra/docker/legacy-use-wine-target/Install_TurboCASH.desktop
  infra/docker/legacy-use-wine-target/Terminal.desktop
Due: none

Fix VNC WebSocket proxy connection issues
  docs/SECRETS_MANAGEMENT.md
  infra/docker/legacy-use-novnc-proxy/image/nginx.conf
  infra/docker/legacy-use-novnc-proxy/image/proxy.py
  infra/helm/values-android-aind.yaml
Due: vulture

Improve authentication middleware and path handling
  server/server.py
  server/utils/auth.py
Due: vulture

Update CLAUDE.md with Kubernetes best practices
  CLAUDE.md
Due: none

Add Kubernetes development commands to Makefile
  Makefile
Due: none

Update Helm configurations for production
  infra/helm/templates/mcp-server-service.yaml
  infra/helm/values-production.yaml
Due: none

Update frontend WebSocket connections and build configuration
  app/components/ApiList.jsx
  app/components/VncViewer.jsx
  app/services/apiService.jsx
  vite.config.js
Due: prettier, biome-lint

Configure nginx for WebSocket proxy support
  infra/docker/legacy-use-nginx/nginx.conf
Due: none

Update macOS Mojave KubeVirt configuration
  infra/helm/templates/macos-mojave-kubevirt-hook.yaml
  infra/helm/templates/macos-mojave-kubevirt-vmirs.yaml
Due: none

Implement custom virt-launcher for macOS KubeVirt support
  Tiltfile
  infra/docker/virt-launcher-macos/Dockerfile
  infra/docker/virt-launcher-macos/qemu-wrapper.sh
  infra/helm/templates/macos-mojave-kubevirt-hook.yaml
  infra/helm/templates/macos-mojave-kubevirt-vmirs.yaml
  infra/helm/values.yaml
Due: none

Path conditions:
  vulture: any of: \.py$, but not: ^(migrations|tests|venv|\.venv)/
  prettier: any of: ^app/.*\.(js|jsx)$
  biome-lint: any of: ^app/.*\.(js|jsx)$
